#carruselContenedor{
  height: 80vh;
  padding-top: 8vh;
}

#carrusel{
  height: 50vh !important;
}

.img-carrusel{
  height: auto !important;
  width: 50%!important;
}
.gris-letra-soft{
  color:#8f8f8f;
}

#botonRegistarme{
  display: block;
  background-color:#fbd43b;

}

.amarillo-botones{
  color:#fbd43b;
}
.indicator-item{
  margin-top: 50px;
  background-color: #b0bec5 !important;

}

.indicator-item:active{
  background-color: red !important;
}

#validarContenedor{
  margin-top: 15vh;
}

.terminos-text{
  color:#00c3a3;
}
.div-espacio{
  margin-bottom: 50px;;
}
.btn-amarillo{
  background-color:#fbd43b;
}
#img-candado{
  max-width:20px;
  height: auto;
  margin-left:-190px;
}
#img-reloj{
  max-width:20px;
  height: auto;
}
.label-codigo{
  margin-left: 190px;
  text-align: center;
}
.reintentartxt{
  font-size: .99em;
  color:#8f8f8f;
  text-align: center;
}
.img-label{
  max-width:20px;
  height: auto;
  margin-right: 50px;
}

.fdo-amarillo{
  background-color: #fbd43b;
  height: 100vh;

}

.img-bienvenido{
  width: 60%;
  height: auto;
  vertical-align: middle;
  margin:25vh auto auto auto;
}
.text-bienvenido{
  font-size: 1.8em;
  font-weight: bold;
  color:black;
}
.espacio-Top{
  margin-top: 8vh;
}
