#carruselContenedor{
  height: 80vh;
  padding-top: 8vh;
}

#carrusel{
  height: 70vh !important;
}

.img-carrusel{
  height: auto !important;
  width: 50%!important;
}
.gris-letra-soft{
  color:#8f8f8f;
}

#botonRegistarme{
  display: block;
  background-color:#fbd43b;

}

.amarillo-botones{
  color:#fbd43b;
}
.indicator-item{
  background-color: #b0bec5 !important;

}

.indicator-item:active{
  background-color: red !important;
}

#validarContenedor{
  margin-top: 15vh;
}

.terminos-text{
  color:#00c3a3;
}
.div-espacio{
  margin-bottom: 50px;;
}
.btn-amarillo{
  background-color:#fbd43b;
}
